<div class="status">
	<div class="current-price">
		<%= texts.currentPrice %>: <span class="js-current-price price"></span>
	</div>
	<div class="progress">
		<div class="start-price">
			<span class="js-start-price price"></span>
		</div>
		<div class="bar">
			<div class="bar-progress js-bar-progress"></div>
		</div>
		<div class="min-price">
			<span class="js-min-price price"></span>
		</div>
	</div>
    <div class="shares">
       	<%= texts.users %> <span class="num-shares js-shares"></span>
    </div>
    <div class="text-body"><%= texts.body %></div>
    <h2 class="text-title"><%= texts.title %></h2>
</div>