.embed-wrapper {
  font-family: sans-serif;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  opacity: 0;
  line-height: normal;
  transform: translateX(-30px);
  transition: opacity 0.5s linear, transform 0.3s ease-out 0.1s; }
  .embed-wrapper.is-show {
    opacity: 1;
    transform: translateX(0); }
  .embed-wrapper span.label {
    text-transform: uppercase;
    font-size: 60%;
    margin: 5px 0; }
  .embed-wrapper .status {
    margin-bottom: 50px; }
    .embed-wrapper .status .current-price {
      font-size: 32px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column-reverse;
      align-items: center; }
    .embed-wrapper .status .shares {
      text-align: center;
      margin-bottom: 10px;
      text-transform: uppercase; }
    .embed-wrapper .status .progress {
      display: flex; }
      .embed-wrapper .status .progress .bar {
        margin: 0 10px;
        flex: 1;
        background: #EEE; }
        .embed-wrapper .status .progress .bar .bar-value {
          text-align: center;
          background: #FFF; }
        .embed-wrapper .status .progress .bar .bar-progress {
          width: 0;
          height: 100%;
          background: #CCC;
          transition: width 0.8s ease-out; }
      .embed-wrapper .status .progress .start-price,
      .embed-wrapper .status .progress .min-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px; }
      .embed-wrapper .status .progress .min-price {
        justify-content: flex-end; }
  .embed-wrapper .newsletter {
    margin-bottom: 50px; }
    .embed-wrapper .newsletter > .form {
      display: flex;
      flex-flow: row wrap; }
      .embed-wrapper .newsletter > .form .form-control {
        box-sizing: border-box;
        padding: 8px 10px;
        margin-bottom: 10px;
        border: 1px solid #CCC;
        font-size: 14px;
        opacity: 1;
        transition: opacity 0.3s linear; }
        .embed-wrapper .newsletter > .form .form-control[type="text"], .embed-wrapper .newsletter > .form .form-control[type="email"] {
          width: 20px; }
        .embed-wrapper .newsletter > .form .form-control:focus {
          outline: none; }
      .embed-wrapper .newsletter > .form .form-control.email {
        flex: 1 100%; }
      .embed-wrapper .newsletter > .form .form-control.firstname {
        flex: 0 50%; }
      .embed-wrapper .newsletter > .form .form-control.lastname {
        flex: 0 calc(50% - 10px);
        margin-left: 10px; }
      .embed-wrapper .newsletter > .form .form-control.submit {
        flex: 1 100%; }
    .embed-wrapper .newsletter .text-error,
    .embed-wrapper .newsletter .text-success {
      display: none;
      line-height: 150%; }
  .embed-wrapper .newsletter.is-loading {
    pointer-events: none; }
    .embed-wrapper .newsletter.is-loading .form-control {
      opacity: 0.6; }
  .embed-wrapper .newsletter.is-success .form {
    display: none; }
  .embed-wrapper .newsletter.is-success .text-success {
    display: block; }
  .embed-wrapper .newsletter.is-error .text-error {
    display: block;
    color: #CC0000; }

/*# sourceMappingURL=embed.css.map */
