$color-primary: #cea468;

.embed-wrapper {
    font-family: sans-serif;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    opacity: 0;
    line-height: normal;
    color: #FFFFFF;
    transform: translateX(-30px);

    transition: opacity 0.5s linear, transform 0.3s ease-out 0.1s;

    &.is-show {
        opacity: 1;
        transform: translateX(0);
    }

    .price {
        font-size: 30px;

        &:before {
            content: '€ ';
            color: $color-primary;
        }
    }

    .text-primary {
        color: $color-primary;
    }
    
    .text-body {
        text-align: center;
        background: #FFFFFF;
        color: #000000;
        font-size: 14px;
        padding: 5px;
        margin: 20px 0;
    }

    .text-form-head {
        text-transform: uppercase;
        margin-bottom: 3px;
    }

    h2.text-title {
        font-size: 40px;
        text-align: center;
        font-weight: normal;
        margin: 0;
    }

    .status {
        margin-bottom: 25px;

        .current-price {
            margin-bottom: 0;
            text-align: center;
            text-transform: uppercase;
        }

        .shares {
            text-align: center;
            text-transform: uppercase;
        }

        .progress {
            display: flex;
            margin-bottom: 5px;

            .bar {
                margin: 0 10px;
                flex: 1;
                background: #FFFFFF;

                .bar-value {
                    text-align: center;
                    background: #FFF;
                }

                .bar-progress {
                    width: 0;
                    height: 34px;
                    background: $color-primary;
                    transition: width 0.8s ease-out;
                }
            }

            .start-price,
            .min-price {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 5px;
            }

            .min-price {
                justify-content: flex-end;
            }
        }
    }

    .newsletter {
        margin-bottom: 50px;

        > .form {
            display: flex;
            flex-flow: row wrap;

            .form-control {
                box-sizing: border-box;
                padding: 8px 10px;
                margin-bottom: 10px;
                border: 1px solid #CCC;
                font-size: 14px;
                opacity: 0.85;

                transition: opacity 0.3s linear;

                &[type="text"],
                &[type="email"] {
                    width: 20px;
                }

                &:focus {
                    outline: none;
                }
            }

            .form-control.email {
                flex: 1 100%;
            }

            .form-control.firstname {
                flex: 0 50%;
            }

            .form-control.lastname {
                flex: 0 calc(50% - 10px);
                margin-left: 10px;
            }

            .form-control.submit {
                flex: 1 100%;
            }
        }

        .text-error,
        .text-success {
            display: none;
            line-height: 150%;
        }
    }

    .newsletter.is-loading {
        pointer-events: none;

        .form-control {
            opacity: 0.6;
        }
    }

    .newsletter.is-success {
        .form {
            display: none;
        }

        .text-success {
            display: block;
        }
    }

    .newsletter.is-error .text-error {
        display: block;
        color: #CC0000;
    }
}