<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<div id="embed-output"></div>

	<script src="js/libs/underscore-min.js"></script>
	<script src="js/libs/jquery.min.js"></script>
	<script src="js/embed.js"></script>
	<script>
		var EmbedConfig = {
			api: '/api',
			id: 1
		};
	</script>
</body>
</html>