<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="embed-output"></div>
	<script>
		var EmbedConfig = {
			baseUrl: 'http://loreberry-geddy.herokuapp.com',
			api: '/api',
			id: 1,
			el: '#embed-output'
		};
	</script>
</body>
</html>