<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sie werden weiter geleitet...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<script>
    var url = location.href.split('?url=')[1];

    setTimeout(function () {
        location.href = decodeURI(url);
    }, 3000);
</script>
</body>
</html>