<div class="newsletter js-newsletter">
	<h2>Register for our newsletter!</h2>

	<p class="text-error js-text-error"></p>
	<p class="text-success">
		Thanks for registering for our newsletter.<br>
		Please check your inbox to confirm your registration.
	</p>

	<form action="" class="form js-form">
		<input type="email" class="form-control email js-email" name="email" placeholder="E-Mail..." required>
		<input type="text" class="form-control firstname js-firstname" name="firstname" placeholder="Firstname...">
		<input type="text" class="form-control lastname js-lastname" name="lastname" placeholder="Lastname...">
		<input type="submit" value="Register" class="form-control submit js-submit">
	</form>
</div>