<div class="status">
	<div class="current-price js-current-price"></div>
	<div class="shares">
		<span class="num-shares js-shares"></span> total shares
	</div>
	<div class="progress">
		<div class="start-price js-start-price"></div>
		<div class="bar">
			<div class="bar-progress js-bar-progress"></div>
		</div>
		<div class="min-price js-min-price"></div>
	</div>
</div>